head {
    font-family: 'Georgia', Times, Times, serif;
    background-color: #ffffff;
    width: 1162px;
    height: 86px;
    border-bottom-style: solid;
    border-bottom-color: grey
}

.name {
    background-color: #4aaaa5;
    color: white;
    width: 250px;
    height: 115px;
    top: 0;
    text-align: center;
    margin-left: 15%;
    position: fixed;
    margin-top: -.0%;
    line-height: 3
}

nav {
    width: 250px;
    height: 20px;
    position: fixed;
    top: 0;
    right: 0;
    padding: 40px;
    margin: 0;
    text-align: center;background-color: grey;
}

.about {
    width: 650px;
    background-color: #ffffff;
    margin-top: 5%;
    clear: right;
    margin-left: 5%;
    border-style: solid;
    border-color: #dddddd;
    float: left;
}

content {
    float: left;
    background-color: #ececec;
    width: 100%;
    height: 100%;
}

img {
    float: left;
    margin: 0 10px 10px 10px;
    border-style: solid;
    border-color:#dddddd;
}

aside {
    width: 230px;
    height: 175px;
    background-color: #ffffff;
    float: right;
	z-index: 500;
    text-align: center;
    margin-right: 13%;
    margin-top: 7%;
    border-style:solid;
    border-color:#dddddd 
}


footer {
    position: fixed;
    bottom: 0;
    background-color: red;
    width: 100%;
    text-align: center;
    background-color: #666666
}

body {
    border-top-style: solid;
    border-top-color: black;
    margin-top: 115px;
    color: #777777;
    background-color: blue
}

@media screen and (max-width: 640px){
    img {width: 300px;height:auto;align-self: center;clear:both;}
    content {margin-top: 10%;width:350px;}
    nav{margin-right: 15%;margin-top: 15%}
    body {width:325px;}
    p {width:375px;}

    
}